<body>
    <br>
<h1>ABOUT US</h1>
<p></p><br>
<p>Welcome! In a time of rapid change, Cornell University Library continues to stand at the center of <br> intellectual life on campus. With world-class collections and services — print, online, and in person <br> — our Library serves as an indispensable partner in study, teaching and research at the university.</p>
<p>The Library of Congress occupies three buildings on Capitol Hill. The Thomas Jefferson Building (1897) <br> is the original separate Library of Congress building. (The Library began in 1800 inside the U.S. Capitol.) <br> The John Adams Building was built in 1938 and the James Madison Memorial Building was completed <br> in 1981. Other facilities include the High Density Storage Facility (2002) at Fort Meade, Md., <br> and the Packard Campus for Audio Visual Conservation (2007) in Culpeper, Va.</p>
<br>  <br>  <br>  <br>  <br>  
<p class="contact">Contact Us</p>
<p class="address">Address: TownHall Street,4th  floor,Nagpur<br>  Toll Free: (12022-20332-18828) <br>  Mobile No: 9867897899</p>
    
</body>