<body>
<div class="container">
    <div id="set" >
        <label>id</label>
        <input type="text" class="form-control" [(ngModel)]="user.id">
    </div> 
    <div id="set">
        <label>Book_Title</label>
        <input type="text" class="form-control" [(ngModel)]="user.Book_Title">
    </div>
    <div id="set">
        <label>Book_Author</label>
        <input type="text" class="form-control" [(ngModel)]="user.Book_Author">
    </div>
    <div id="set">
        <label>Book_Count</label>
        <input type="text" class="form-control" [(ngModel)]="user.Book_Count">
    </div>
    <p></p>
    <div id="set">
        <button type="submit" class="btn" (click)="update()">Update</button>
    </div>
</div>
</body>