<body>
    <br>
<h4 >Welcome To Library</h4>
   <h3 >{{currentUser.firstName}} {{currentUser.lastName}}</h3>
</body>

<!-- <div class="card mt-4">
    <h4 class="card-header">Welcome To Library {{currentUser.firstName}} {{currentUser.lastName}}</h4>
    <div class="card-body">
        <p>You're logged in with Angular 8 & JWT!!</p>
        <p>Hi <strong>{{currentUser.role}}</strong>.</p>
        <p>This page can be accessed by <u>all authenticated users</u>.</p>
        <p class="mb-1">Current user from secure api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="userFromApi">
            <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
        </ul>
    </div>
</div> -->